*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
::selection{
    background-color: blue;
    color: black;
}
.main-sec{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* firs starts here */
.first,.second,.third{
    height: 330px;
    width: 60%;
    /* background-color: ghostwhite; */
    /* border: 1px solid whitesmoke; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-content: flex-start;
    /* background-color: gainsboro; */
   box-shadow: 0px 0px 15px 0px gainsboro;
   background-color: grey;
}
.img1,.img2,.img3{
    height: 100%;
    width: 50%;
}
.img1 #img {
    height: 330px;
}
.img2 #img2 {
    height: 330px;
}
.img3 #img3 {
    height: 330px;
}
.text,.text2,.text3{
    width: 50%;
    padding: 10px;
    font-size: 13px;
    color: white;
}
.text2{
    padding-left: 50px;
}
 #img,img{
    height:300px;
    width: 100%;
   }

.text ul li{
   width: 100%;
   list-style-type: none;  
  
}
.text2 ul li{
    width: 100%;
    list-style-type: none;  
    /* text-align: center; */
   

 }
 .text3 ul li{
    width: 100%;
    list-style-type: none;
    /* text-align: center; */
 }

 .four{
     height: 100px;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     text-align: center;
     background-color: ghostwhite
 }
 .footer{
     height: 40px;
     width: 100%;
     padding-top: 10px;
     background-color: rgb(235, 230, 230);
 }
/*  first ends here */

/* second starts here */
/* .second{
    height: auto;
    width: 70%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 30px;
   
}
.img2{
    height: auto;
    width: 30%;
}
.text2{
    width: 40%;



}
  .img2 img{
    height: 300px;
    width: 150%;
    padding-left: 30px;
}

.second .text2 ul{
    
   list-style-type: none;

} */
/* second ends here */

/* third starts here */
/* .third{
    height: auto;
    width: 70%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 30px;
  
}
.img3{
    height: auto;
    width: 30%;
}
.text3{
    width: 40%;

}
  .img3 img{
    height: 300px;
    width: 150%;
    padding-left: 30px;
}

.third .text3 ul{
    
   list-style-type: none;

} */
  