@media only screen and (max-width:768px){
    
    ul li 
    {
        /* height: 15px; */
       font-size: 9px;
       padding-top: 0px;
       /* line-break: strict; */
    }
    #img{
        height: 315px;
    }
    .text2{
        padding-left: 0%;
    }

}